{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ post.name }}
{% endblock%}

{% block content %}

            <div class="row tm-row">
                <div class="col-12">
                    <hr class="tm-hr-primary tm-mb-55">
                    <!-- Video player 1422x800 -->
                        <img src="{{ post.image.url }}" width="954" height="535" alt="">
                </div>
            </div>
            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">                    
                        <div class="mb-4">
                            <h2 class="pt-2 tm-color-primary tm-post-title">{{ post.name }}</h2>
                            <p class="tm-mb-40">{{ post.created_date }} </p>
                            <p>{{ post.description }}</p>
                            <span class="d-block text-right tm-color-primary">{{ post.category }}</span>
                        </div>
                        
                        <!-- Comments -->
                        <div>
                            <h2 class="tm-color-primary tm-post-title">Комментарии</h2>
                            <hr class="tm-hr-primary tm-mb-45">
                            {% for i in post.comments.all %}
                            <div class="tm-comment tm-mb-45">
                                <figure class="tm-comment-figure">
                                    <figcaption class="tm-color-primary text-center">{{ i.name }}</figcaption>
                                </figure>
                                <div>
                                    <p>
                                        {{ i.content }}
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <span class="tm-color-primary">{{ i.created_date }}</span>
                                    </div>                                                 
                                </div>
                            </div>
                            {% endfor %}
                            <form method='post' class="mb-5 tm-comment-form">
                                <h2 class="tm-color-primary tm-post-title mb-4">Ваш комментарий</h2>
                                <div class="mb-4">
                                    {% csrf_token %}
                                    {{ form.name }}
                                </div>
                                <div class="mb-4">
                                    {{ form.email }}
                                </div>
                                <div class="mb-4">
                                    {{ form.content  }}
                                </div>
                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>                        
                                </div>                                
                            </form>                          
                        </div>
                    </div>
                </div>
                <aside class="col-lg-4 tm-aside-col">
                    <div class="tm-post-sidebar">
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="mb-4 tm-post-title tm-color-primary">Категории</h2>
                        <ul class="tm-mb-75 pl-5 tm-category-list">
                            {% for i in category %}
                            <li><img src="{{ i.image.url }}" width="60px" alt=""><a href="/category/{{ i.id }}" class="tm-color-primary">&nbsp;&nbsp;&nbsp;{{ i.category }}</a></li>
                            {% endfor %}
                        </ul>
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="tm-mb-40 tm-post-title tm-color-primary">Похожие посты</h2>
                        {% for i in post.category.posts.all|slice:":4" %}
                            {% if post != i %}
                        <a href="/post/{{ i.id }}" class="d-block tm-mb-40">
                            <figure>
                                <img src="{{ i.image.url }}" alt="Image" class="mb-3 img-fluid">
                                <figcaption class="tm-color-primary">{{ i.name }}</figcaption>
                            </figure>
                            {% endif %}
                            {% endfor %}
                        </a>
                    </div>                    
                </aside>
            </div>

            {% endblock %}