{% extends 'base.html' %}
{% load static %}
{% block title %}
Создать пост
{% endblock%}

{% block content %}
            <div class="row tm-row">
            </div>
            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">

                        <!-- Comments -->
                        <div>
                            <form method='post' class="mb-5 tm-comment-form" enctype="multipart/form-data">
                                <h2 class="tm-color-primary tm-post-title mb-4">Ваш пост</h2>
                                <div class="mb-4">
                                    {% csrf_token %}
                                    {{ form.name }}
                                </div>
                                <div class="mb-4">
                                    {{ form.description }}
                                </div>
                                <div class="mb-4">
                                    {{ form.image  }}
                                </div>
                                <div class="mb-4">
                                    {{ form.author  }}
                                </div>
                                <div class="mb-4">
                                    {{ form.category  }}
                                </div>
                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <aside class="col-lg-4 tm-aside-col">
                </aside>
            </div>
            {% endblock %}